body {
    font-family: 'Open Sans', sans-serif;
}

.sign-in {
    margin: 0 20% 0 20%;
}

.sign-form {
    margin: 0 10%;
}

h3 {
    text-align: center;
    color: rgb(201, 84, 84);
}

.button {
    text-align: center
}